body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.one {
    background-color: #1F2937;
    
}

.first-container {
    margin-left: 200px;
    margin-right: 200px;
}

.good-evening {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

.description {
    padding: 10px 0px;
    font-size: 18px;
    color: lightgray;
}

.header {
    padding: 16px 0px;
    display: flex;
    justify-content: space-between;
}

.listen {
    font-size: 20px;
    padding: 8px 30px;
    color: white;
    background-color: #3882f6;
    margin-top: 8px;
    border-radius: 12px;

}

.content {
    padding: 100px 0px;
    display: flex;
}

.logo-text {
    color: #f9faf8;
    font-size: 24px;

}

.main-img {
    width: 525px;
    height: 220px;
    object-fit: cover;
    object-position: 100% 33%;
}


ul {
    margin: 0;
    padding: 0;
    color :lightgrey;
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.members {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    padding: 40px;
}

.members-wrap {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.member {
    width: 200px;
}

.member p {
    font-size: 16px;
    text-align: center;
    margin: 0;
    color: grey;
}

.img-mem {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: #3882f6;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    margin-bottom: 10px;
}

.three {
    background-color: #e5e7eb;
}

.third-container {
    padding-left: 350px;
    padding-right: 350px;
    padding-top: 150px;
    padding-bottom: 100px;
}

.epi {
    font-size: 36px;
    font-style: italic;
    color: grey;
}

.author {
    padding: 16px;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
}

.fourth-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px;
    background-color: #3882f6;
    padding: 50px 100px;
    border-radius: 10px;
}

.spotify {
    color: white;
    background-color: #3882f6;
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 6px 30px;
    font-size: 16px;
    font-weight: 700;
}

.description-two {
    font-size: 16px;
    color: lightgray;
}

.footer {
    padding: 50px;
    text-align: center;
    background-color: #1F2937;
    color: lightgray;
}